@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark , cupcake;
}


.background-gradient {
   background: linear-gradient(to right, #632EE3,#9F62F2);
}



 .text-gradient {
    background: linear-gradient(to right, #632EE3,#9F62F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  body{
    background-color: #d2d2d2;
  }